@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .ow{
background-color:darkgreen;
    }
    .pau{
text-align:center;
color:white;
font-size:100px;
    }
    .pn{
text-align:center;
color:white;
font-size:25px;
font-style:italic;
    }
</style>
<body class="ow">

<div>
    <h1 class="pau"> Barangay Record</h1>
    <p class="pn"> This cite is for residence profiling</p>
</div>
</body>